{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
  <h2>Mobilne uslugi kosmetyczne</h2>
  <p class="lead">Nie masz czasu umówić się na wizytę w gabinecie kosmetycznym? Może masz dzieci albo wyjście z domu sprawia Ci kłopot? Zadzwoń lub napisz, umówimy się, przyjadę z moim mobilnym salonem kosmetycznym.</p>
  <p><a class="btn btn-lg btn-success" role="button" href="{% url 'contact' %}"><i class="fa fa-envelope"></i>&nbsp; Kontakt</a></p>
</div>



{% block marketing %}


<p class="lead text-align-center">{{ title }}</p>
<form method="POST" action="" class="col-md-6 col-md-offset-3">{% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-block btn-primary" type="submit" value="Submit"/>
</form>

{% endblock %}

{% endblock %}