{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block marketing %}
<div>
{% for post in newsletter %}
    <tr><td>{{ post.user }}: </td><td>{{ post.content }}</td></tr><br>
{% endfor %}

     <form method='POST' action="{% url 'comment' %}">{% csrf_token %}
         {{ form|crispy }}
         <input class="btn btn-block btn-primary" type="submit" value="Submit"/>
     </form>
</div>
{% endblock marketing %}