{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
  <h1>Jumbotron heading</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><a class="btn btn-lg btn-success" href="{% url 'home' %}" role="button"><i class="fa fa-home"></i>&nbsp; Home</a></p>
</div>



{% block marketing %}

{% if request.user.is_authenticated %}
<div class="col-md-12">
  <p class="lead text-align-center">{{ title }}</p>
  <div class="col-md-6">
    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
      <input class="btn btn-block btn-primary" type="submit" value="Submit"/>
    </form>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2316.2447499161876!2d18.538296215882735!3d54.51154488023974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fda731825b96b3%3A0x2a876d46106c848e!2sI+Armii+Wojska+Polskiego+3%2C+Gdynia!5e0!3m2!1spl!2spl!4v1447323546233" width="300" height="375" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

{% else %}

<p class="lead text-align-center">{{ title }}</p>

{% endif %}
{% endblock %}

{% endblock %}