<footer class="footer col-md-12">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="https://www.facebook.com/Marzena-mobilne-us%C5%82ugi-kosmetyczne-510405535762354/timeline"><i class="fa fa-facebook-official"></i>&nbsp; Facebook</a></li>
    </ul>
  </nav>
  <h5 class="text-muted">&copy; Copyright 2015</h5>
</footer>
