{% extends 'base.html'%}

{% block content %}
<div class="jumbotron">
  <h2>Mobilne uslugi kosmetyczne</h2>
  <p class="lead">Nie masz czasu umówić się na wizytę w gabinecie kosmetycznym? Może masz dzieci albo wyjście z domu sprawia Ci kłopot? Zadzwoń lub napisz, umówimy się, przyjadę z moim mobilnym salonem kosmetycznym.</p>
  <p><a class="btn btn-lg btn-success" role="button" href="{% url 'contact' %}"><i class="fa fa-envelope"></i>&nbsp; Kontakt</a></p>
</div>



{% block marketing %}
<div class="row marketing">
  <div class="col-lg-6">

    <h4>Twarz i ciało</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Dłonie i stópy</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Henna</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <h4>Depilacja</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
  </div>

  <div class="col-lg-6">
    <h4>Opalanie natryskowe</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Zabiegi wyszczuplające</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <h4>Zabiegi antycellulitowe</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Indywidualne</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  </div>
</div>
{% endblock %}

{% endblock %}