{% if request.user.is_authenticated %}

<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp; Głowna strona</a></li>
      <li role="presentation"><a href="{% url 'contact' %}"><i class="fa fa-envelope"></i>&nbsp; Kontakt</a></li>
      <li role="presentation"><a href="{% url 'logout' %}">({{ name }}) Logout</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Bootstrap</h3>
</div>

{% else %}

<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp; Głowna strona</a></li>
      <li role="presentation"><a href="{% url 'registration' %}">Rejestracja</a></li>
      <li role="presentation"><a href="{% url 'login' %}">Logowanie</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Bootstrap</h3>
</div>

{% endif %}